@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -7.5rem;
    background-position-y: -2.5rem;
    background-attachment: fixed;
    background-color: var(--Pale-blue);
    font-family: 'Red Hat Display', sans-serif;
@@ -36,7 +36,7 @@ button {
    border-radius: 0.6rem;
    box-sizing: content-box;
    letter-spacing: 0.15px;
    box-shadow: 0 15px 15px hsla(245, 75%, 52%, 0.2);
    box-shadow: 0 20px 20px hsla(245, 75%, 52%, 0.2);
}
button:hover {
    cursor: pointer;
@@ -78,7 +78,7 @@ span {
    text-align: center;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 20px 20px -10px hsla(245, 75%, 52%, 0.2);
    box-shadow: 0 30px 30px -20px hsla(245, 75%, 52%, 0.2);
}

.plan-container {
    width: 70%;
    background-color: var(--Very-pale-blue);
    margin: 0.5rem auto -0.15rem;
    padding: 1.35rem 1.25rem;
    border-radius: 0.6rem;
    display: flex;
    place-content: center;
    gap: 1.2rem;
}
.container a {
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    display: block;
    margin: 0.25rem auto 0;
    font-size: 0.95rem;
}
.container a:hover {
    color: var(--Dark-blue);
